# Configuração de rede
NETWORK_NAME=app_network

# Configuração do PostgreSQL
DB_HOST=postgres
DB_PORT=5432
DB_NAME=app_db
DB_USERNAME=app_user
DB_PASSWORD=securepass

# Configuração do MongoDB
MONGO_HOST=mongodb
MONGO_PORT=27017
MONGO_USER=root
MONGO_PASS=secure


# Configuração do RabbitMQ
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=rabbituser
RABBITMQ_PASSWORD=rabbitpass
RABBITMQ_MANAGEMENT_PORT=15672

# Configuração de Segurança (JWT)
JWT_SECRET=supersecretkey
JWT_EXPIRATION=86400  # Expiração em segundos (1 dia)
